.photo-grid {
    display: grid;
    padding-top: 90px;
    padding-bottom: 10px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    row-gap: 16px;
    column-gap: 16px;
    justify-content: center;
    margin: 0 48px;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin: 0 24px; 
    }
}

@media screen and (max-width: 540px) {
    .photo-grid {
        padding-top: 64px;
        margin: 0 16px; 
    }
}