.intro {
    margin-left: 148px;
    padding-top: 90px;
    max-width: 54%;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 67%;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 85px;
        max-width: 94%;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 540px) {
    .intro {
        padding-top: 65px;
        margin-left: 16px;
        margin-right: 16px;
    }
}