.cover__background {
    text-decoration: none;
    margin: 0 auto;
    background-image: url(../../../sprint-3-images/sprint-3-images/cover-trains.jpg);
    display: flex;
    flex-direction: column;
    object-fit: cover;
    align-items: center;
    background-size: cover;
    width: 100%;
    min-height: 740px;

}

@media screen and (max-width: 1024px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 450px) {
    .cover__background {
        min-height: 300px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        min-height: 200px;
    }
}